@import url(https://fonts.bunny.net/css?family=fredoka-one:400|oswald:700);

$fontFredoka: 'Fredoka One', display;
$loaderColor: #41506b;
$principalColor : #93e4c1;
$secondaryColor: #3baea0;
$paragrapheColor : #118a7e;
$titleColor : #1f6f78;
$textColor : white;
$buttonColor : $secondaryColor;
$buttonHoverColor : $titleColor;
$buttonTextColor : $textColor;
$buttonHoverTextColor : $textColor;